<?xml version="1.0" encoding="utf-8"?>

<launch>
  <!-- Console launch prefix -->

<node pkg="tf2_ros" type="static_transform_publisher" name="head_camera" args="0.05 0 -0.07 1.5707963 0 3.1415926 base_link head_camera"/>

   <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="640" />
    <param name="image_height" value="360" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="frame_id" value="head_camera"/>
    <param name="io_method" value="mmap"/>
  </node>
  <arg name="launch_prefix" default=""/>
  <arg name="image" default="/usb_cam/image_raw" />

  <!-- Config and weights folder. -->
  <arg name="yolo_weights_path"          default="$(find darknet_ros)/yolo_network_config/weights"/>
  <arg name="yolo_config_path"           default="$(find darknet_ros)/yolo_network_config/cfg"/>

  <!-- ROS and network parameter files -->
  <arg name="ros_param_file"             default="$(find darknet_ros)/config/ros_usb.yaml"/>
  <!-- <arg name="network_param_file"    default="$(find darknet_ros)/config/yolov2-tiny.yaml"/>-->

  <!-- Load parameters -->
  <rosparam command="load" ns="darknet_ros" file="$(arg ros_param_file)"/>
  <!--<rosparam command="load" ns="darknet_ros" file="$(arg network_param_file)"/>-->
  <rosparam command="load" ns="darknet_ros" file="$(find darknet_ros)/config/yolov4-tiny.yaml"/>

  <!-- Start darknet and ros wrapper -->
  <node pkg="darknet_ros" type="darknet_ros" name="darknet_ros" output="screen" launch-prefix="$(arg launch_prefix)">
    <param name="weights_path"          value="$(arg yolo_weights_path)" />
    <param name="config_path"           value="$(arg yolo_config_path)" />
    <remap from="camera/rgb/image_raw"  to="$(arg image)" />
  </node>

 <!--<node name="republish" type="republish" pkg="image_transport" output="screen" 	args="compressed in:=/front_camera/image_raw raw out:=/camera/image_raw" /> -->
</launch>
